.table {
	margin: 20px auto;
	width: 30vw;
	height: 30vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	list-style: none;
	justify-items: center;
	align-items: stretch;
	padding: 0;
	gap: 10px;
}